{% extends 'main.html' %}

{% block home %}
    {% if page == 'login' %}
    <div>
        <form method="post" action="">
            {% csrf_token %}
            <label for="username"></label>
            <input type="text" name="username" id="username" placeholder="Enter Password">

            <label for="password"></label>
            <input type="password" name="password" id="password" placeholder="Enter password"> 
            <input type="submit" value="Login">
        </form>
        <p>Haven't registered yet?</p>
        <a href="{% url 'register' %}"> Sign Up</a>
    </div>
    {% else %}

    <div>
        <form method="post" action="">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Sign up">
        </form>

            <p>Already signed up ?</p>
            <a href="{% url 'login' %}"> Login</a>
    </div>
    {% endif %}



{% endblock %}